# fly.toml app configuration file generated for hydrate-backend
app = 'hydrate-backend'
primary_region = 'bom'

 [[mounts]]
   source = "hydrate_data"
   destination = "/data"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'